<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PutclubHelper.dao.ListenRecordMapper">
    <insert id="addRecord" parameterType="PutclubHelper.pojo.ListenRecords">
        insert into putclubhelper.records (date, start_time, end_time, materialId, accuracy)
        values(#{record.date},
               #{record.startTime},
               #{record.endTime},
               #{record.materialId},
               #{record.accuracy})
    </insert>

    <select id="getRecords" parameterType="Map" resultType="PutclubHelper.pojo.ListenRecords">
        select * from putclubhelper.records limit #{pageSize} offset #{offset}
    </select>
</mapper>