<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PutclubHelper.dao.MaterialsMapper">
    <select id="getMaterialById" resultType="PutclubHelper.pojo.Materials">
        select * from materials where id = #{id}
    </select>

    <insert id="addMaterial" parameterType="PutclubHelper.pojo.Materials">
        insert into putclubhelper.materials (title, date, type, audioSource, text)
        values(#{title}, #{date}, #{type}, #{audioSource}, #{text})
    </insert>
</mapper>