<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PutclubHelper.dao.MaterialsMapper">
    <select id="getMaterialById" resultType="PutclubHelper.pojo.Materials">
        select * from materials where id = #{id}
    </select>

    <insert id="addMaterial" parameterType="PutclubHelper.pojo.Materials">
        insert into putclubhelper.materials (id, title, date, type, audioSource, text)
        values(#{material.id},
               #{material.title},
               #{material.date},
               #{material.type},
               #{material.audioSource},
               #{material.text})
    </insert>

    <update id="updateMaterialText">
        update putclubhelper.materials set text = #{text} where id = #{id}
    </update>
</mapper>